@using CourierCounter.Models;


@model OrdersViewModel


@{
    Layout = "_AdminLayout";
}

<div class="container mt-3">
    <h3>Order Details</h3>
    <ul class="list-group">
        <li class="list-group-item">Id : @Model.Id</li>
        <li class="list-group-item">Tracking Id : @Model.TrackingId</li>
        <li class="list-group-item">Customer Name : @Model.CustomerName</li>
        <li class="list-group-item">Customer Contact Number : @Model.CustomerContactNumber</li>
        <li class="list-group-item">Customer Email : @Model.CustomerEmail</li>
        <li class="list-group-item">Delivery Address : @Model.DeliveryAddress</li>
        <li class="list-group-item">Delivery Zone : @Model.DeliveryZone</li>
        <li class="list-group-item">Distance (Km) : @Model.DistanceInKm</li>
        <li class="list-group-item">Weight (Kg): @Model.WeightInKg</li>
        <li class="list-group-item">Priority : @Model.UrgencyLevel</li>
        <li class="list-group-item">Status : @Model.Status</li>
        <br/>
        <li class="list-group-item">Assigned To : @Model.WorkerName</li>
    </ul>

    <!-- Highlighted Wages Section (outside of list) -->
    <div class="mt-4 p-4 rounded" style="background-color: #747fb6; color: white;">
        <h4>Wages (Calculated):</h4>
        <p style="font-size: 1.5em; font-weight: bold;">@Model.Wage</p>
    </div>
